@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
  
    --h-font:'Open Sans', sans-serif;
    --p-font:'Inter', sans-serif;
    --prfec-black:#000000;
    --prfec-white:#ffffff;
    --prfec-clr:#515BDA;
    --h-black:#1e1e1e;
    --p-black:#434343;
    --h-white:#ffffff;
    --p-white:#d1d1d1;
    --box-border:#e4e4e4;
    --card-p-black:#463A78;
    --card-h-black:#2A1A53;
    --card-p-white:#BBC8EB;
    --card-h-white:#EFF3FF;
    --card-pale-blue:#EFF3FF;
    --card-light-blue:#D8E3FF;
 

  }

  *{
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
      text-decoration: none;
    }
    
    body {
      margin: 0;
      overflow-y: scroll;
    }




    @tailwind base;
    @tailwind components;
    @tailwind utilities;